# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable last-modified': 'last-modified:toggle'

# 'menu': [
#   {
#     'label': 'Packages'
#     'submenu': [
#       'label': 'Last Modified'
#       'submenu': [
#         { 'label': 'Toggle', 'command': 'last-modified:toggle' }
#       ]
#     ]
#   }
# ]
